<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h2 style="text-align: center; text-decoration: underline;">Show Data </h2>
  
  <div class="row">
    <div class="col-4" >
      <div class="card" style="width: 18rem;">
        <img style="width: 20rem; border-radius: 10px;" src="<%= lists.image.url %>" class="card-img-top" alt="listing-image">
        <div class="card-body">
          <h5 class="card-title"><b><%=lists.title %></b></h5>
          <p><b>price </b>: &#8377; <%=lists.price.toLocaleString("en-IN")%></p>
          <p class="card-text"><b>Description</b> : <%=lists.description %></p>
          <p class="card-text"><b>Location</b> : <%=lists.location %></p>
          <p class="card-text"><b>country</b> : <%=lists.country %></p>
          <div class="btn">
            <button type="button" class="btn btn-danger"><a href="/listings/<%= lists._id %>/edit">EDIT</a></button><br><br>
          <form action="/listings/<%= lists._id %>?_method=delete" method="post">
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body